#root {
    text-align: center;
}

.cards {
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

.cards img {
    width: 100%;
}

.zoomed-card {
    width: 22%;
    margin: auto;
    text-align: center;
}

.zoomed-card img {
    width: 100%;
}

.cards img:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.mosaic-button {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 2em;
    top: 2em;
    width: 2em;
    cursor: pointer;
}

.mosaic {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.mosaic img {
    width: 66%;
}

.instructions {
    display: flex;
    height: 10%;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.instructions div {
    display: flex;
}

.instructions img {
    width: 1em;
}

.footer {
    position: absolute;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}

