#root {
    text-align: center;
}

.top-section {
    display: flex;
    justify-content: space-between;
}

.cards {
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;
    margin-top: -2rem;
}

.cards img {
    width: 100%;
}

.zoomed-card {
    width: 20rem;
    padding: 2rem;
}

.zoomed-card img {
    width: 100%;
}

.cards img:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.mosaic-button {
    position: absolute;
    right: 2em;
    top: 2em;
    width: 2em;
    cursor: pointer;
}

.mosaic {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.mosaic img {
    width: 66%;
}

.repository-button {
    position: absolute;
    right: 2em;
    top: 5em;
    width: 2em;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}