.vertical-info-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    margin-left: 1rem;
}

.vertical-info-bar img {
    width: 100%;
    filter: invert(0%);
}

@media (prefers-color-scheme: dark) {
    .vertical-info-bar img {
        filter: invert(100%);
    }
}